.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #0a0a23;
}

.card {
  background-color: #246bfd;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px #0006;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
