.productCard {
  border: 0.25rem solid #fff;
  border-radius: 5rem;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(135deg, #0a2342 0%, #000000 100%);
}

.productImage {
  width: 100%;
  max-width: 30rem;
  border-radius: 0.5rem;
}

.productTitle {
  font-size: 3rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: #fff;
}

.productDescription {
  font-size: 2rem;
  color: #ff0000; 
}

.productPrice {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
  color: #fff;
}

.productButton {
  background-color: #fff;      
  color: #000;                 
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.productButton:hover {
  background-color: #bebcbc;
}